@font-face {
	font-family: 'Interstate-Regular';
	src: url('../fonts/Interstate/422ea8eb-ab70-4ffb-9bf3-5a841254edba-2.eot'),
		 url('../fonts/Interstate/422ea8eb-ab70-4ffb-9bf3-5a841254edba-1.ttf') format('truetype'),
		 url('../fonts/Interstate/422ea8eb-ab70-4ffb-9bf3-5a841254edba-3.woff') format('woff'),
		 url('../fonts/Interstate/422ea8eb-ab70-4ffb-9bf3-5a841254edba-4.svg') format('svg');
}
@font-face {
	font-family: 'Interstate-Light';
	src: url('../fonts/Interstate-Light/796b62e0-5149-4111-b8d7-b754c081e07f-2.eot'),
		 url('../fonts/Interstate-Light/796b62e0-5149-4111-b8d7-b754c081e07f-1.ttf') format('truetype'),
		 url('../fonts/Interstate-Light/796b62e0-5149-4111-b8d7-b754c081e07f-3.woff') format('woff'),
		 url('../fonts/Interstate-Light/796b62e0-5149-4111-b8d7-b754c081e07f-4.svg') format('svg');
}

@font-face {
	font-family: 'Interstate-Extralight';
	src: url('../fonts/Interstate-ExtraLight.otf') format('opentype');
}
