// === Base colors ==========
$white: #fff;
$lightest-grey: #eee;
$lighter-grey: #d6d6d6;
$light-grey: #979797;
$grey: #777;
$dark-grey: #666;
$default-text-color: #222;

$blue: #0095ce;
$light-blue: #00a3e6;
$dark-blue: #17437f;
$green: #028d43;
$light-green: #4cc383;
$hightlight-blue: #33abd6;
$light-red: #ed1c24;
$error-color: #f00;

$table-border: 1px solid #aaa;
$table-header-background: $lightest-grey;

$border-color: $lighter-grey;
$general-border: 1px solid $border-color;
$bold-border: 2px solid $border-color;