.home-body {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

.home-body-left {
	width: 350px;
	margin-right: 30px;
	margin-top: 10px;
}

.filter-container {
	margin-bottom: 30px;
}

.filter-by {
	font-family: SFUIText;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #00a3e6;
}

.filter-title {
	margin-bottom: 20px;
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.9px;
	text-align: left;
	color: #34495e;
}

.filter-content {
	font-family: Lato;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	text-align: left;
	color: #95909e;
}

.label-user-icons {
	float: right;
	position: absolute !important;
    right: 0;
    top: -3px;

	img {
		width: 25px;
		height: 25px;
	}
}

.image-rounded-cropper {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    img {
	    display: inline;
	    margin: 0 auto;
	    width: auto;
	}
}

.filter-price {
	margin-top: 20px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top: 26px !important;
	bottom: -32px;
}

/*.price-title {
	margin-bottom: 25px;
}*/

.price-range-slider {
	width: 260px;
	margin-left: 30px;
	margin-bottom: 50px;
}