.home-body {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

.home-body-left {
	width: 220px;
	margin-right: 40px;
	margin-top: 10px;
}

.filter-price {
	margin-top: 20px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top: 26px !important;
	bottom: -32px;
}

.price-title {
	display: inline-block;
	margin-bottom: 25px;
}

.price-range-slider {
	display: inline-block;
	width: 156px;
	margin-left: 30px;
}